{% extends "admin/index.html" %}

{% block content %}
{{ block.super }}

<!-- Nuevo cuadro para el gráfico -->
<div class="dashboard-module">
    <h2>Gráfico de Ventas</h2>
    <canvas id="barChart" width="400" height="200"></canvas>
</div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- Incluye Chart.js desde un CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Incluye el archivo JavaScript personalizado -->
<script src="{% static 'core/js/admin_dashboard.js' %}"></script>
{% endblock %}